@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
    background-color: white;
    
}

.items-container{
    display: flex;
    justify-content: center;
}

h1{
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    color: #A84A5C;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

#new-todo{
    width: 20vw;
    height: 3.5vh;
}

#todo-items{
    min-width: 18vw;
    background-color: #F5D5BC;
}
 li{
    text-decoration: underline;
    list-style-type: none;
    font-family: monospace;
    font-size: 1.2rem;
 }

button{
  display: inline-block;
  width: 1.5rem;
  height: 1.2rem;
  background-color:  #A84A5C;
  color: wheat;
  cursor: pointer;
  border-radius: 50%;
  border: 0px;
}

li.completed {
    text-decoration: line-through;
}

.add-button{
height: 5vh;
width: 10vw;
border-radius: 10%;
}

.clear-btn, .simulate-btn{
    display: inline;
    min-height: 5vh;
    min-width: 15vw;
    border-radius: 10%;
    
}

.main{
    display: flex;
    background-color: wheat;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
}
