.list{
    width: 60%;
    background: gray;
    border: 2px solid red;
}

.example{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: blueviolet;
    width: 40%;
    height: 40vh;
    margin: 0 auto;
}