#div1 {
    height: 500px;
    width: 500px;
    margin: 0 auto;
    background: darkred;
    position: relative;
    box-sizing: border-box;
}

#p2 {
    height: 300px;
    width: 300px;
    margin: 20% 20%;
    background: blue;
    display: inline-block;
}

#btn3 {
    height: 100px;
    width: 100px;
    margin: 30% 30%;
    background: green;
    display: inline-block;
}