.row {
    width: 100%;
}

.elem {
    display: inline-block;
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    background: yellow;
    line-height: 100px;
    margin: 2% 3%;
}