*{
    font-size: 1.2rem;
    font-family:  Roboto, sans-serif;
}

div{
    width: 300px;
    height: 300px;
    background-color: aqua;
    margin:  0 auto;
    text-align: center;
    line-height: 100px;
}

p{
    width: 200px;
    height: 200px;
    background-color: rgb(71, 126, 126);
    margin:  0 auto;
}

button{
    display: block;
    width: 100px;
    height: 100px;
    background-color: rgb(14, 75, 75);
    margin:  0 auto;
    border:none;
}