body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #8DD8FF;
}

div {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #045EAC;
	width: 200px;
	height: 200px;
}

p {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	background-color: #0094F6;
}
