div {
  background-color: red;
  position: relative;
  width: 200px;
  height: 200px;
  text-align: center;
  border: 2px solid black; 
}

p {
  background-color: orange;
  position: absolute;
  top: 5px;
  left: 25px;
  width: 150px;
  height: 150px;
  border: 2px solid black; 
}

button {
  background-color: yellow;
  position: absolute;
  top: 25px;
  left: 25px;
  width: 100px;
  height: 100px;
  border: 2px solid black; 
}
body {
    display: flex;
    justify-content: center;
  line-height: 25px;
    font-size: 20px;
}